<nav>
    <div class="sub-menu-bar">
        <ul class="nav_menu_link">
            <li><a href="/route/createNewClient">Add New Client</a></li>
            <li><a href="/route/clientDetails">Client Details</a></li>
        </ul>
    </div>
</nav>
              