
<nav>
    <div class="sub-menu-bar">
        <ul class="nav_menu_link">
            <li><a href="/route/createNewCompany">Add New Company</a></li>
            <li><a href="/route/companyDetails">Company Details</a></li>
        </ul>
    </div> 
</nav>
       