<%- include('header') -%>
<%- include('dashboard') -%>
    <div class="top new-stock-container">
        <h4>Add New Company</h4>
        <form method="POST" action="/route/api/medical/companies">
            <div class="add-stock-container">
                <div class="form-inline">
                    <b for="company_name">Company Name:</b>
                    <input type="text" id="company_name" name="company_name" class="form-control">
                </div>
                <div class="form-inline">
                    <b for="address">Address:</b>
                    <input type="text" id="address" name="address" class="form-control">
                </div>
                <div class="form-inline">
                    <b for="contact_person_name">Contact Person Name:</b>
                    <input type="text" id="contact_person_name" name="contact_person_name" class="form-control">
                </div>
                <div class="form-inline">
                    <b for="mobile_number">Mobile Number:</b>
                    <input type="text" id="mobile_number" name="mobile_number" class="form-control">
                </div>                
                <div class="form-inline">
                    <button type="submit" class="btn btn-success rounded-pill">Add Company</button>
                </div>
            </div>
        </form>
    </div>
<%- include('footer') -%>