<div class="sub-menu-bar">
    <ul class="nav_menu_link">
        <li><a href="/route/createNewStock">Add New Stock</a></li>
        <!-- <li><a href="/route/updateStock">Update Stock</a></li> -->
        <!-- <li><a href="#">Delete Stock</a></li> -->
        <li><a href="/route/stockDetails">Stock Details</a></li>
    </ul>
</div>
            